@import "tailwindcss";
.wobbly-border {
  border-radius: 255px 15px 225px 15px/15px 255px 15px 255px;
  border: 4px solid currentColor;
}
.cartoon-shadow {
  box-shadow: 8px 8px 0px 0px currentColor;
}
.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 20s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
